.vscode/**
.vscode-test/**
.github/**
.gitignore
node_modules/**
src/**
test/**
test-workspaces/**
samples/**
out-test/**
prompt.txt
tsconfig.json
tsconfig.test.json
package-lock.json
CONTRIBUTING.md
SECURITY.md
CODE_OF_CONDUCT.md
ROADMAP.md
npm-debug.log*
*.vsix
